<footer>  
<p>Project maintained primarily by <a href="https://github.com/WillSullivan">WillSullivan</a> with the help of <a href="https://github.com/WillSullivan/idownvotedbecause/graphs/contributors">people like you!</a></p>
<p><a href="https://github.com/WillSullivan/IDownvotedBecause/edit/master/{{ page.path }}">Edit this page on GitHub</a></p>
<p>idownvotedbecau.se and related websites are not affiliated with or sponsored by any other organization, including those that are the subject of posts on this site.</p>
</footer>
