<section id="call-to-action" class="call-to-action">
    <h3>Did this page help you?</h3>
    This website is here for everyone's benefit, most importantly yours! If this did <i>not</i> help you, or if you would
    like to leave feedback, please <b><a href="https://github.com/WillSullivan/IDownvotedBecause/issues/new">create an Issue regarding this page on GitHub,</a> or <a href="https://github.com/WillSullivan/IDownvotedBecause/edit/master/{{ page.path }}">submit an improvement directly.</a></</b>
</section>
<footer>
    <section class="who-to-downvote">
        <p>Project maintained primarily by <a href="https://github.com/WillSullivan">WillSullivan</a> with the help of <a href="https://github.com/WillSullivan/idownvotedbecause/graphs/contributors">people like you!</a></p>
        <p><a href="https://github.com/WillSullivan/IDownvotedBecause/edit/master/{{ page.path }}">Edit this page on GitHub</a></p>
    </section>
</footer>
