<section class="call-to-action">
    <h3>Leave a comment!</h3>
    Once you have done this, leave a comment to the person who sent you this link. They will be happy to retract their downvote.
    <h3>Did this page help you?</h3>
    This website is here for everyone's benefit, most importantly yours! If this did <i>not</i> help you, or if you would like to leave feedback, please <b><a href="https://github.com/WillSullivan/IDownvotedBecause/issues/new">create an Issue regarding this page on GitHub.</a></b>
</section>
<footer>
    <section class="who-to-downvote">        
        <p>Project maintained primarily by <a href="https://github.com/WillSullivan">WillSullivan</a> with the help of people like you!</p>
        <p><a href="/allreasons/">See the complete list of reasons here!</a> or <a href="/">go home</a>.</p>
    </section>
</footer>