<!DOCTYPE HTML>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}{% link images/favicon.png %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lalezar" rel="stylesheet">
    <link rel="stylesheet" href="{{ site.baseurl }}{% link css/default.scss %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/turbolinks/5.0.3/turbolinks.js" integrity="sha256-iRVODWVEZe2jDvJZwC7qI/Xx40YHzWS2bOX1z53lqC8=" crossorigin="anonymous"></script>
  </head>
  <body>
    {% include header.html %}
    <section class="content">
      {{content}}
    </section>
    {% include footer.html %}
  </body>
</html>
